@import "tailwindcss";

@theme {


  --color-primary: #4F46E5;
  --color-secondary: #F28D35;
  --color-analogous1: #6A44F2;
  --color-analogous2: #1CBDDD;
  --color-triadic : #52378C;


  --breakpoint-xs: 375px;  
  --breakpoint-sm: 768px;  
  --breakpoint-md: 1200px;  
  --breakpoint-lg: 1440px;  
}
